* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(35, 109, 143);
}

h2 {
    text-align: center;
    color: rgb(46, 125, 161);
}

p {
    text-align: justify;
    color: rgb(46, 125, 161);
    border-radius: 8px;
    padding: 15px;
    
}

.parrafo-encabezado {
    color: rgb(96, 175, 212);
    border: 2px solid rgb(129, 181, 223);
    box-shadow: 8px 6px rgb(96, 175, 212);
}

.parrafo2 {
    color: rgb(220, 166, 231);
    border: 2px solid rgb(220, 166, 231);
    box-shadow: 8px 6px rgb(232, 195, 240);
}

.parrafo3 {
    color: rgb(107, 206, 168);
    border: 2px solid rgb(130, 221, 186);
    box-shadow: 8px 6px rgb(183, 228, 224);
}

.caja-html h2 {
    color: rgb(207, 139, 221);
}

.caja-css h2 {
    color: rgb(102, 187, 154);
}