.contenedor {
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 400px;
    width: 400px;

}

.mes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 28, 28);
    color: white;
    font-size: 2em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dias {
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    font-size: 1.2em;
}

.diaSemana {
    display: flex;
    background-color: rgb(17, 17, 211);
    align-items: center;
    justify-content: center;
    color: rgb(207, 212, 241);
    font-size: 1.3em;
    border-width: thin; 
    border-style: solid;
    border-color: black;
}

.numeroDia {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: thin; 
    border-style: solid;
}


span {
    color: yellow;
}